 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .u-group-1 {
  width: 607px;
  height: 607px;
  margin: 55px auto 55px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  width: 349px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 421px;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  margin: 40px auto 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-group-1 {
    width: 532px;
    height: 532px;
    margin-top: 59px;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-group-1 {
    width: 485px;
    height: 485px;
    margin-left: auto;
    margin-bottom: 47px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    height: 340px;
    margin-top: 53px;
    margin-bottom: 53px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 8px 0;
  }

  .u-section-1 .u-text-1 {
    width: 254px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    padding: 11px 27px 13px 25px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 783px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 593px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-list-1 {
  width: 494px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 510px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-1 {
  width: 384px;
  min-height: 162px;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-2 {
  width: 384px;
  min-height: 162px;
  background-size: auto;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-3 {
  width: 384px;
  min-height: 162px;
  background-size: auto;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 663px;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-2 .u-list-1 {
    width: 470px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 674px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  min-height: 751px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 675px;
  }

  .u-section-3 .u-gallery-1 {
    height: 347px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1153px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-gallery-1 {
    height: 825px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2204px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1896px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1508px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1206px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 589px;
}

.u-section-4 .u-slider-1 {
  min-height: 469px;
  height: auto;
  width: 1020px;
  margin: 60px auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-image-1 {
  width: 83px;
  height: 83px;
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-image-2 {
  width: 83px;
  height: 83px;
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-4 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-slider-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1470px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 667px;
  margin: 35px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 995px;
  margin: 42px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10.5px));
  min-height: 626px;
  grid-gap: 21px;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-image-1 {
  height: 332px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 17px 23px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-image-2 {
  height: 332px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 17px 23px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-image-3 {
  height: 332px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 17px 23px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-image-4 {
  height: 332px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-5 .u-text-10 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 592px;
  }

  .u-section-5 .u-image-1 {
    height: 312px;
  }

  .u-section-5 .u-image-2 {
    height: 312px;
  }

  .u-section-5 .u-image-3 {
    height: 312px;
  }

  .u-section-5 .u-image-4 {
    height: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 496px;
  }

  .u-section-5 .u-image-2 {
    height: 496px;
  }

  .u-section-5 .u-image-3 {
    height: 496px;
  }

  .u-section-5 .u-image-4 {
    height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    height: 383px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-2 {
    height: 383px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-3 {
    height: 383px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-4 {
    height: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    height: 236px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-2 {
    height: 236px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-3 {
    height: 236px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-4 {
    height: 236px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 566px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin: 60px 0;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(50% - 20px);
  grid-template-columns: repeat(2, calc(50% - 20px));
  min-height: 308px;
  grid-gap: 40px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px 20px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-2 {
  background-size: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px 20px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-3 {
  background-size: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px 20px 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-line-3 {
  height: 3px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-4 {
  background-size: auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px 20px 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  text-transform: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-line-4 {
  height: 3px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-8 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 259px;
  }

  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }
} .u-section-7 {
  min-height: 960px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-image-1 {
  height: 469px;
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 849px;
  margin: -184px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 16.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 16.6667px));
  min-height: 262px;
  grid-gap: 25px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 59px;
  width: 59px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 35px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 59px;
  width: 59px;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 35px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 59px;
  width: 59px;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 35px 0 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 16.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16.6667px));
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1293px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.500024999999999px);
    grid-template-columns: repeat(2, calc(50% - 12.500024999999999px));
    min-height: 709px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 40px;
    margin-right: 316px;
    margin-left: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 226px;
    margin-right: 226px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 126px;
    margin-right: 126px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 813px;
}

.u-section-8 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  width: 706px;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 29px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-8 .u-image-1 {
  min-height: 377px;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  min-height: 381px;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 0;
}

.u-section-8 .u-image-3 {
  min-height: 374px;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-5 {
  padding: 0;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  min-height: 374px;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-8 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-8 .u-image-1 {
    min-height: 311px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-8 .u-image-2 {
    min-height: 314px;
  }

  .u-section-8 .u-image-3 {
    min-height: 308px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-8 .u-image-4 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-8 .u-image-1 {
    min-height: 476px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-8 .u-image-2 {
    min-height: 481px;
  }

  .u-section-8 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-8 .u-image-3 {
    min-height: 472px;
  }

  .u-section-8 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-8 .u-image-4 {
    min-height: 472px;
  }

  .u-section-8 .u-container-layout-8 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3061px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    min-height: 714px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 722px;
  }

  .u-section-8 .u-image-3 {
    min-height: 708px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-4 {
    min-height: 708px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2052px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    min-height: 450px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-8 .u-image-2 {
    min-height: 455px;
  }

  .u-section-8 .u-image-3 {
    min-height: 446px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-8 .u-image-4 {
    min-height: 446px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 712px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-9 .u-group-1 {
  min-height: 133px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 3rem;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-accordion-link-1 {
  font-size: 1.5rem;
  padding: 25px 20px;
}

.u-section-9 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px;
}

.u-section-9 .u-accordion-link-2 {
  font-size: 1.5rem;
  padding: 25px 20px;
}

.u-section-9 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-9 .u-container-layout-5 {
  padding: 20px;
}

.u-section-9 .u-accordion-link-3 {
  font-size: 1.5rem;
  padding: 25px 20px;
}

.u-section-9 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-9 .u-container-layout-6 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 735px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-10 .u-image-1 {
  min-height: 595px;
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  min-height: 298px;
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  min-height: 297px;
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-4 {
  min-height: 595px;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-11 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 60px 0 0;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 852px;
  grid-auto-columns: calc(33.3333% - 17.3333px);
  grid-gap: 26px;
}

.u-section-11 .u-list-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-image-1 {
  width: 193px;
  height: 193px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-11 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-11 .u-icon-1 {
  height: 100%;
}

.u-section-11 .u-icon-2 {
  height: 100%;
}

.u-section-11 .u-icon-3 {
  height: 100%;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-image-2 {
  width: 193px;
  height: 193px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-11 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-11 .u-icon-4 {
  height: 100%;
}

.u-section-11 .u-icon-5 {
  height: 100%;
}

.u-section-11 .u-icon-6 {
  height: 100%;
}

.u-section-11 .u-list-item-3 {
  background-image: none;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-image-3 {
  width: 193px;
  height: 193px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-11 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-11 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-11 .u-icon-7 {
  height: 100%;
}

.u-section-11 .u-icon-8 {
  height: 100%;
}

.u-section-11 .u-icon-9 {
  height: 100%;
}

.u-section-11 .u-list-item-4 {
  background-image: none;
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-image-4 {
  width: 193px;
  height: 193px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-11 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-11 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-11 .u-icon-10 {
  height: 100%;
}

.u-section-11 .u-icon-11 {
  height: 100%;
}

.u-section-11 .u-icon-12 {
  height: 100%;
}

.u-section-11 .u-list-item-5 {
  background-image: none;
}

.u-section-11 .u-container-layout-5 {
  padding: 30px;
}

.u-section-11 .u-image-5 {
  width: 193px;
  height: 193px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-11 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-11 .u-social-icons-5 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-11 .u-icon-13 {
  height: 100%;
}

.u-section-11 .u-icon-14 {
  height: 100%;
}

.u-section-11 .u-icon-15 {
  height: 100%;
}

.u-section-11 .u-list-item-6 {
  background-image: none;
}

.u-section-11 .u-container-layout-6 {
  padding: 30px;
}

.u-section-11 .u-image-6 {
  width: 193px;
  height: 193px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-11 .u-text-12 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-11 .u-social-icons-6 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-11 .u-icon-16 {
  height: 100%;
}

.u-section-11 .u-icon-17 {
  height: 100%;
}

.u-section-11 .u-icon-18 {
  height: 100%;
}

.u-section-11 .u-text-14 {
  font-style: italic;
  font-size: 1rem;
  margin: 30px auto 60px;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    min-height: 700px;
    grid-auto-columns: calc(33.333333333333336% - 17.3333px);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 1237px;
    grid-auto-columns: calc(50% - 12.999975000000001px);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 629px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 509px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-12 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 633px;
  margin: 0 auto;
}

.u-section-12 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 429px;
  grid-gap: 0px;
}

.u-section-12 .u-container-layout-2 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-1 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-container-layout-3 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-2 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-container-layout-4 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-3 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-container-layout-5 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-4 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-container-layout-6 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-5 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-container-layout-7 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-6 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-container-layout-8 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-7 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-container-layout-9 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-8 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-container-layout-10 {
  padding: 14px 30px 11px;
}

.u-section-12 .u-icon-9 {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  padding: 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 509px;
}

.u-section-12 .u-container-layout-11 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-12 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  margin: 37px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-12 .u-list-1 {
    width: 564px;
  }

  .u-section-12 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 382px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-1 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-2 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-3 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-4 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-5 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-container-layout-7 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-6 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-container-layout-8 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-7 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-container-layout-9 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-8 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-container-layout-10 {
    padding-top: 11px;
  }

  .u-section-12 .u-icon-9 {
    width: 106px;
    height: 106px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 420px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-12 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 501px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-text-1 {
    margin-left: auto;
  }

  .u-section-12 .u-text-2 {
    width: auto;
  }

  .u-section-12 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 1260px;
  }

  .u-section-12 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 655px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 793px;
  }

  .u-section-12 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 672px;
}

.u-section-13 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-13 .u-text-2 {
  font-size: 1.5rem;
  width: 624px;
  margin: 17px auto 0;
}

.u-section-13 .u-form-1 {
  height: 176px;
  width: 624px;
  margin: 46px auto 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 9px 0 11px;
}

.u-section-13 .u-list-1 {
  width: 624px;
  margin: 38px auto 60px;
}

.u-section-13 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6px));
  min-height: 143px;
  grid-auto-columns: calc(33.3333% - 6px);
  grid-gap: 9px;
}

.u-section-13 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-13 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-13 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-13 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-13 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-13 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-8 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6px));
    grid-auto-columns: calc(33.333333333333336% - 6px);
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-13 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 144px;
    grid-auto-columns: 33.3333%;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-13 .u-text-2 {
    width: 540px;
  }

  .u-section-13 .u-form-1 {
    width: 540px;
  }

  .u-section-13 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 297px;
    grid-auto-columns: 50%;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-13 .u-text-2 {
    width: 340px;
  }

  .u-section-13 .u-form-1 {
    height: 287px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-list-1 {
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 317px;
    grid-auto-columns: 100%;
  }
} .u-section-14 {
  min-height: 500px;
}